@font-face {
  font-family: "DOSGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
h1,
p,
span,
label,
button,
div {
  font-family: "DOSGothic";
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
/* h1,
p {
  font-family: "42dot Sans", sans-serif;
  font-style: normal;
} */
section {
  width: 80%;
  height: 80%;
  max-height: 80%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4c599;
  border-radius: 8px;
  position: relative;
  /* overflow: hidden; */
  /* background-color: #ffffff23; */
}
header {
  position: absolute;
  width: 300px;
  height: 60px;
  color: #ffffff;
  background-color: #938065;
  border: 1px solid #e4c599;
  border-radius: 4px;
  top: -30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
}
#profile {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* #profile > img {
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  border: 1px solid #938065;
} */
#profile > button {
  width: 160px;
  height: 60px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 20px;
  margin: 20px 0px;
}
.success-btn {
  background-color: #40c2b97c;
  border: 1px solid #40c2ba;
}
.fail-btn {
  background-color: #ff00008f;
  border: 1px solid #d55a5a;
}
.success-btn-hover {
  background-color: #13f0e17c;
  box-shadow: 0px 0px 10px #40c2ba;
}
.fail-btn-hover {
  background-color: #ff3939b1;
  box-shadow: 0px 0px 10px #d55a5a;
}
#score-list > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  height: 48px;
}
#score-list label {
  font-size: 20px;
}
#score-list label:hover {
  text-shadow: 0px 0px 14px #ffffff;
}
[for="score-1"],
#scoreitem-1 {
  color: #ef4037;
  border-color: #ef4037;
}
[for="score-2"],
#scoreitem-2 {
  color: #00ade9;
  border-color: #00ade9;
}
[for="score-3"],
#scoreitem-3 {
  color: #f48121;
  border-color: #f48121;
}
[for="score-4"],
#scoreitem-4 {
  color: #8d53a0;
  border-color: #8d53a0;
}
[for="score-5"],
#scoreitem-5 {
  color: #fcb814;
  border-color: #fcb814;
}
[id^="scoreitem"] {
  width: 0%;
  border-width: 12px;
  border-radius: 12px;
  border-style: solid;
  position: absolute;
  z-index: 1;
  transition: width 2s ease-out;
  box-sizing: border-box;
}
[id^="scoreitem"]:hover {
  box-shadow: 0 0 10px 2px #ffffff;
}
#score-list > button {
  width: 100%;
  height: 90px;
  background-color: #e4c5997c;
  border: 1px solid #e4c599;
  color: #ffffff;
  border-radius: 4px;
  font-size: 20px;
  margin: 20px 0px;
}
#score-list > button:hover {
  background-color: #bd99687c;
  box-shadow: 0px 0px 10px #e4c599;
}
#score-list span {
  position: absolute;
  color: white;
  font-size: 16px;
  z-index: 100;
  animation: fade-in 0.3s;
}
.base-chart {
  width: 100%;
  border: 12px solid #f5f5f5;
  border-radius: 12px;
  position: absolute;
  z-index: 0;
  box-sizing: border-box;
}
.chart-container {
  width: 300px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.donut-chart {
  width: 200px;
  height: 200px;
}

.circular-chart {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #747474;
  stroke-width: 5.4;
}

.circle {
  fill: none;
  stroke: #e4c599;
  stroke-width: 5.4;
  stroke-dasharray: 75, 100;
  stroke-linecap: round;
}

.percentage {
  font-size: 20px;
  fill: #ffffff;
  /* font-weight: bold; */
  text-anchor: middle;
  dominant-baseline: middle;
}
.profile-img {
  /* width: 15px;
  height: 15px; */
  clip-path: circle(50%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.overlay .percentage {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.donut-chart:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
.hide-overlay {
  opacity: 0;
}
.modal-overlay {
  position: fixed;
  background-color: #00000067;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#username {
  width: 120px;
  height: 40px;
  background-color: #e4c5997c;
  border: 1px solid #e4c599;
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reminder {
  position: fixed;
  width: 80%;
  height: auto;
  /* overflow: hidden; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  animation: fade-in 0.5s;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.662);
  z-index: 200;
}

#carousel-track {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  transition: transform 2s ease-out;
  white-space: nowrap;
  overflow-x: auto;
}

.carousel-slide {
  min-width: 50%;
  /* height: 600px; */
  display: flex;
  background-color: #000000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.carousel-slide div {
  width: 100%;
  height: 100%;
  mask-image: radial-gradient(
    ellipse,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 110%
  );
  -webkit-mask-image: radial-gradient(
    ellipse,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 110%
  );
  border-radius: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#thanksto {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-weight: bold;
  color: #2c2c2c;
  margin-right: 12px;
  font-size: 16px;
  mask-image: radial-gradient(
    ellipse,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 110%
  );
  -webkit-mask-image: radial-gradient(
    ellipse,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 110%
  );
}
.carousel-slide .movie-film {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  border: 20px solid #000000;
}
.integrity-modal {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #ffffffb1;
  border-radius: 4px;
  font-size: 12px;
  z-index: 100;
  word-break: keep-all;
  left: 80px;
  backdrop-filter: blur(10px);
}
#score-list > div {
  position: relative;
}
.integrity-modal > img {
  width: 40px;
  height: auto;
}
.integrity-modal h1 {
  margin: 4px;
  font-size: 14px;
}
.integrity-modal p {
  margin: 4px;
}
#img-download {
  width: 160px;
  height: 40px;
  background-color: #e4c5997c;
  border: 1px solid #e4c599;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
#img-download:hover {
  background-color: #bd99687c;
  box-shadow: 0px 0px 10px #e4c599;
}
#retry {
  width: 120px;
  height: 60px;
  background-color: #c0c0c076;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#retry:hover {
  background-color: #9d9d9dc0;
  box-shadow: 0 0 10px 2px #c0c0c0;
}
#process {
  position: fixed;
  width: 50%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffffaf;
  animation: fade-in 0.5s;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.662);
  z-index: 200;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px;
}
#process > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#process > div > div:first-child {
  width: 40%;
  height: 10%;
  background-color: #c0ac90b8;
  border: 1px solid #938065;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#process-map {
  width: 680px;
  height: 500px;
  background-color: #e1a863;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 16px;
  border: 2px solid #ab875a;
  background-image: url("../assets/map/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); /* 위로 살짝 튀기 */
  }
}
#process-map img:not(#character) {
  position: absolute;
  width: 80px;
  height: auto;
  filter: drop-shadow(0 0 10px #ffffff);
  animation: bounce 1s infinite ease-in-out;
}
#character {
  width: 50px; /* 캐릭터 크기 */
  height: auto;
  z-index: 300;
  /* position: absolute; */
}
#house {
  left: 0px;
  top: 30px;
}
#bed {
  left: 120px;
  top: 270px;
}
#bus {
  left: 410px;
  top: 100px;
}
#subway {
  left: 410px;
  top: 100px;
}
#grandma {
  left: 360px;
  top: 280px;
}
#man {
  left: 540px;
  top: 40px;
}
#building {
  left: 570px;
  top: 20px;
}
#closet {
  left: 10px;
  top: 350px;
}
.score-modal {
  width: 140px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #ffffffb1;
  border-radius: 4px;
  font-size: 12px;
  z-index: 250;
  backdrop-filter: blur(10px);
  padding: 4px;
}
.score-modal p {
  margin: 2px 0;
}
.score-modal strong {
  margin: 6px 0;
  color: #663821;
  font-size: 14px;
}
#scoremodal-1 {
  left: 80px;
  top: 30px;
}
#scoremodal-2 {
  left: 200px;
  top: 270px;
}
#scoremodal-3 {
  left: 90px;
  top: 350px;
}
#scoremodal-4 {
  left: 440px;
  top: 280px;
}
#scoremodal-5 {
  left: 440px;
  top: 30px;
}
#scoremodal-6 {
  left: 500px;
  top: 100px;
}
.display-none {
  display: none;
}
