html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url(../assets/start.gif);
  background-repeat: no-repeat;
  background-size: contain; /* 화면에 맞게 조절 */
  overflow: hidden; /* 스크롤 방지 */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  position: relative;
  bottom: 4rem;
  display: flex; /* 🚀 블록 대신 flex 사용 */
  justify-content: center; /* 이미지와 오버레이를 중앙 정렬 */
  align-items: center;
  width: 800px; /* 🛠 이미지 크기에 맞게 설정 */
  height: auto; /* 필요에 따라 고정 높이도 설정 가능 */
}

.title-image {
  display: block;
  width: 100%; /* 원하는 크기에 맞게 조절 */
  height: 450px;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: 40pt;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.overlay p {
  font-size: 45px;
}

input {
  margin-top: -5px;
  margin-bottom: 10px;
  padding: 6px;
  font-size: 18px;
  text-align: center;
  width: 200px;
  border: 2px solid #8d8d8d;
  border-radius: 4px;
}
input:focus {
  outline: none;
  border: 2px solid #bb3322;
  box-shadow: 0 0 2px 2px #c58e8e;
}

.start-btn {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  color: #772222;
  background: linear-gradient(to bottom, #ff5544, #bb3322);
  border: 6px solid #772222;
  padding: 20px 30px;
  cursor: pointer;
  box-shadow: inset 0 4px 0 #dd6666, 3px 8px 0 #772222;
  transition: box-shadow, transform 0.1s ease-in-out;
  margin-top: 10px;
}

.start-btn:hover {
  background: #bb3322;
}

/* 눌렸을 때 효과 */
.start-btn:active {
  box-shadow: inset 0 2px 0 #aa4444, 1px 4px 0 #551111; /* 위쪽 그림자를 더 어둡게, 아래쪽 그림자 줄어들게*/
  transform: translateY(4px);
}
