@import url("Script.css");

.fade-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* 검정색 배경 */
  z-index: 9999; /* 모든 요소 위에 표시 */
  opacity: 1; /* 초기 상태에서 검정 화면 유지 */
  transition: opacity 1s ease-in-out; /* 서서히 사라지는 효과 */
}

body {
  background-image: url(../assets/study.webp);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
